<!DOCTYPE html>
<html>
<head>
  <title>TITULO</title>
  <!--ESTOS SON HELPER METHODS-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header>
    
    <h1>HOME LAYOUT</h1>
    
  </header>
  <p>Este mensaje viene del layout para home</p>
  
<%= yield %>

</body>
</html>
